{% extends 'study/base.html' %}
    {% block title %}Посещаемость{% endblock %}

{% block content %}
<table border="2px">
    <th>&nbsp</th>
    {% for lesson in lessons_list %}
    <th>
        {{lesson}}
        <br>
        {{lesson.subsection}}
    </th>
    {% endfor %}
    {% for student in students_list %}
    <tr>
        <td width="120px"><a href="/student/{{ student.id }}">{{student}}</a></td>
        {% for lesson in lessons_list %}
        <td width="120px" align="center">
            <form action="{% url 'study:confirm_visit' student.id lesson.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value=
                    {% if result_dict|get_item:student|check_item:lesson == True %}
                        "Посетил"
                    {% else %}
                        "Отсутствовал"
                    {% endif %}>
            </form>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<br>
{{result_dict}}

{% endblock %}

{% block sidebar %}
    <div id="subject_name">
        <ul>
            <li><a href="#">Группа 1</a></li>
            <li><a href="#">Группа 2</a></li>
            <li><a href="#">Группа 3</a></li>
        </ul>
    </div>
{% endblock %}