{% extends 'study/base.html' %}
    {% block title %}Студенты{% endblock %}

{% block content %}
<h2>{{subject}}</h2><br>
<h3>100% посещаемость:</h3>
<br>
<ul>
    {% for student in best_students %}
    <li>
        {{ student }}
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block sidebar %}
    <div id="subject_name">
        <ul>
            {% for subject in subjects_list %}
                <li><a href="{% url 'study:best_students' subject.id%}">{{ subject }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}