{% extends 'study/base.html' %}
    {% block title %}Студенты{% endblock %}

{% block content %}
<h1>{{student.name}}</h1><hr><br>
<h3>Посещаемость студента:</h3><hr style="margin-right:400px">
<ul>
    {% for subsection in student_info %}
    <li
            {% if student_percentage|get_item:subsection <= 5 %}
                style="color:red"
            {% endif %}
            >
        {{ subsection }}: {{ student_info|get_item:subsection }}/{{ lessons_info|get_item:subsection }} ({{ student_percentage|get_item:subsection }}%)
    </li>
    {% endfor %}
</ul>
<br>
<form action="" method="post">
    {% csrf_token %}
    <p>Тем в билете: <input type="text" name="amount" style="width:30px"></p>
    <p><input type="submit" value="Показать"></p><br>
</form>

{% if tickets %}
    <h3>Темы:</h3><hr style="margin-right:400px">
    <ul>
    {% for ticket in tickets %}
        <li>
            {{ticket}}
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% endblock %}

{% block sidebar %}
    <div id="subject_name">
        <ul>
            {% for subject in subjects_list %}
                <li><a href="{% url 'study:student' subject.id student.id %}">{{ subject }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}